.container{
    .table{ 
        border:1px solid rgba(206, 194, 194, 0.194);
         thead{
             tr{
                  th{
                      background-color: #f2f2f2;
                      padding:1rem;
                      border-bottom: 1px solid rgba(206, 194, 194, 0);
                  }
                  }
         }
         tbody{

            tr {
                td{
                    padding:20px 20px ;
                    //border-spacing: 5px;
                    margin:1rem;
                }
                
          
            }
          }
        
    }
}