<div class="container">

    <table class="table  table-borderless">
        <thead>
            <tr>

                <th scope="col">Full Name</th>
                <th scope="col">status</th>
                <th scope="col">Type</th>
                <th scope="col">EMail</th>
                <th scope="col">Signed Up</th>
                <th scope="col"> USer ID</th>
            </tr>
        </thead>
        <tbody>
            <tr>
           
                <td><img src="../../../assets/images/man.png" style="width:30px; height:30px; border-radius:30px;">Amanda Harvey</td>
                <td>Successful</td>
                <td>Unassigned</td>
                <td> amanda@site.com</td>
                <td> 1 year ago</td>
                <td>67989 </td>
            </tr>
            <tr>

                <td><img src="../../../assets/images/man.png" style="width:30px; height:30px; border-radius:30px;">Amanda Harvey</td>
                <td>Successful</td>
                <td>Unassigned</td>
                <td> amanda@site.com</td>
                <td> 1 year ago</td>
                <td>67989 </td>
            </tr>
            <tr>

                <td><img src="../../../assets/images/man.png" style="width:30px; height:30px; border-radius:30px;">Amanda Harvey</td>
                <td>Successful</td>
                <td>Unassigned</td>
                <td> amanda@site.com</td>
                <td> 1 year ago</td>
                <td>67989 </td>
            </tr>
            <tr>

                <td><img src="../../../assets/images/man.png" style="width:30px; height:30px; border-radius:30px;">Amanda Harvey</td>
                <td>Successful</td>
                <td>Unassigned</td>
                <td> amanda@site.com</td>
                <td> 1 year ago</td>
                <td>67989 </td>
            </tr>
            <tr>

                <td><img src="../../../assets/images/man.png" style="width:30px; height:30px; border-radius:30px;">Amanda Harvey</td>
                <td>Successful</td>
                <td>Unassigned</td>
                <td> amanda@site.com</td>
                <td> 1 year ago</td>
                <td>67989 </td>
            </tr>
            <tr>

                <td><img src="../../../assets/images/man.png" style="width:30px; height:30px; border-radius:30px;">Amanda Harvey</td>
                <td>Successful</td>
                <td>Unassigned</td>
                <td> amanda@site.com</td>
                <td> 1 year ago</td>
                <td>67989 </td>
            </tr>
            <tr>

                <td><img src="../../../assets/images/man.png" style="width:30px; height:30px; border-radius:30px;">Amanda Harvey</td>
                <td>Successful</td>
                <td>Unassigned</td>
                <td> amanda@site.com</td>
                <td> 1 year ago</td>
                <td>67989 </td>
            </tr>




        </tbody>
    </table>
<div class="row">
    <div class="col-md-8">
        
         <Span> Showing <button mat-button > 1</button></Span>
          
    </div>
    <div class="col-md-4">
        <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active" aria-current="page">
                <span class="page-link">2</span>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
    </div>

</div>
</div>