<div class="row mb-4  Dashboard">
    <div class="col-6">
        <p class ="text">Dashboard</p>

    </div>
    <div class="col">
        <button mat-raised-button color="primary" style="float:right;">
            <mat-icon>group_add</mat-icon> invite Users </button>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <mat-card>
            <mat-card-title>Actions Buttons</mat-card-title>
            <mat-card-subtitle>Start</mat-card-subtitle>
            <mat-card-actions>
               <div class="row">
                   <div class="col-md-2">
                  <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                   </div>
                   <div class="col-md-1"></div>
                   <div class="col-md-8">
                       <app-line-chart></app-line-chart>
                   </div>
               </div>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card>
            <mat-card-title>Actions Buttons</mat-card-title>
            <mat-card-subtitle>Start</mat-card-subtitle>
            <mat-card-actions>
                <div class="row">
                    <div class="col-md-2">
                   <button mat-button>LIKE</button>
                       <button mat-button>SHARE</button>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                        <app-line-chart2></app-line-chart2>
                    </div>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card>
            <mat-card-title>Actions Buttons</mat-card-title>
            <mat-card-subtitle>Start</mat-card-subtitle>
            <mat-card-actions>
                <div class="row">
                    <div class="col-md-2">
                   <button mat-button>LIKE</button>
                       <button mat-button>SHARE</button>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                        <app-line-chart3></app-line-chart3>
                    </div>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card>
            <mat-card-title>Actions Buttons</mat-card-title>
            <mat-card-subtitle>Start</mat-card-subtitle>
            <mat-card-actions>
                <div class="row">
                    <div class="col-md-2">
                   <button mat-button>LIKE</button>
                       <button mat-button>SHARE</button>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                        <app-line-chart4></app-line-chart4>
                    </div>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>



<div class="row mt-4">
    <div class="col-md-6">
        <mat-card>
            <mat-card-title class ="import-card"> 
                 <div class="row">
                     <div class="col-md-10">
                        Import data into Dashboard
                     </div>
                     <div class="col-md-2">
                        <mat-icon>more_vert</mat-icon>
                     </div>
                 </div>
               </mat-card-title>

            <mat-card-subtitle>
                See and talk to your users and leads immediately by importing your data into front Dashboard Platform
            </mat-card-subtitle>
            <mat-card-actions>
                <h4 class ="import-user"> Import Users Form</h4>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <mat-icon> stay_primary_portrait</mat-icon>
                        <mat-icon> stay_primary_portrait</mat-icon>
                    </div>
                    <div class="col-md-6">
                        
                         <div>
                            <p> Capsule </p>
                             <p class ="text-muted">   Users </p>
                         </div> 
                    </div>
                    <div class="col-md-2">
                        <button mat-raised-button color="primary"> Launch Importer</button>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <mat-icon> stay_primary_portrait</mat-icon>
                        <mat-icon> stay_primary_portrait</mat-icon>
                    </div>
                    <div class="col-md-6">
                        <p>Mailchimp</p>
                        <p class ="text-muted">   Users </p>
                    </div>
                    <div class="col-md-2">
                        <button mat-raised-button color="primary">Launch Importer</button>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <mat-icon> stay_primary_portrait</mat-icon>
                        <mat-icon> stay_primary_portrait</mat-icon>
                    </div>
                    <div class="col-md-6">
                        <p>Webdev</p>
                        <p class ="text-muted">   Users </p>
                    </div>
                    <div class="col-md-2">
                        <button mat-raised-button color="primary">Launch Importer</button>
                    </div>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-6">
        <mat-card>
            <mat-card-title class="Monthly"> 
                <div class="row">
                    <div class ="col-md-7">Monthly expenses</div>
                    
                        <div class="col-md-2 matbutton">
                            <button mat-button> this week </button>
                        </div> 
                        <div class="col-md-2 matbutton "> <button mat-button>  last Week</button></div>
                     
                   
                </div>

            </mat-card-title>
         
           
            <mat-card-subtitle>

                <div class ="row">
                    <div class ="col-md-7">
                     <p> 35% </p>
                    </div>
                    <div class ="col-md-2">
                        <button mat-button>
                            
                            New </button>
                    </div>
                <div class ="col-md-2">
                    <button mat-button> Overdue</button>
                </div>
                </div>
            </mat-card-subtitle>
            <mat-card-actions>
            <app-chart></app-chart>
            </mat-card-actions>
        </mat-card>
    </div>
</div>