 
 
 <mat-toolbar>
    <!-- <mat-icon [routerLink]="['/home']">home</mat-icon>  -->
    <div class="header">
       <div class="header-Front">
           <span>F</span>
         <p class="Front ml-4"> FRONT</p>
       </div>
       
    </div>
      <div class="sider">
         <button mat-mini-fab  aria-label="Example icon button with a plus one icon" (click)="toggleMenu()"   style="background-color:white">
            <mat-icon style="color: black;">keyboard_tab</mat-icon>
          </button>
         
      </div>
     <div class ="row">
         <div class="col-md-12">
            
            <mat-form-field  appearance="none" class="toolform">
                   <mat-icon> search</mat-icon>
                <input type="text" matInput placeholder="Search in Front">
            </mat-form-field>
            
         </div>
     </div>
     <!-- <mat-icon class="mr-5"> 
        
    </mat-icon> -->
      <mat-icon class="mr-5">
         notification_important        
         <span class="position-absolute top-2  translate-middle p-1 bg-danger border border-light rounded-circle">
           <span class="visually-hidden">New alerts</span>
         </span>
      </mat-icon>
       
     <mat-icon class="mr-2">featured_video</mat-icon>
     <mat-icon class="m-2">control_camera</mat-icon>
     <!-- <mat-icon [routerLink]="['/help']">help</mat-icon> -->
     <mat-icon class="ml-2"><img src ="../../../assets/images/man.png" style="width:40px; height:40px;border-radius: 30px;"> 
      
   </mat-icon>
</mat-toolbar>