mat-toolbar {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.128);
     
.sider {
   margin-left:10rem;
}
    .toolform{
    width:70vw;
  

    padding: 5rem;
    display: flex;
    justify-content: flex-start;
    ::ng-deep .mat-form-field-wrapper
    {
      width: 100vh;
      margin-left:1rem;
      
    }

     input{
       text-decoration: none;
       
     }
    }
  }.tool-button{
    background-color: white !important;
  }
  
  
  .mat-icon {
    cursor: pointer;
  }

.header-Front{
  width:40px;
  height: 40px;
  background: #00B4DB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 30px 10px ;
 span{
color:white;
margin-left:0.9rem;
font-weight: 600;

  }
}
  .Front{
    position:relative;
    margin-left:4rem;
    transform: translateY(-30px);
    color:blue
  }